.progress-bar-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #edeffc;
  padding: 16px 0;
  height: 56px;
  width: 1360px;
}

.step-col {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 12px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: none;
  color: #141938;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #7981b2;
}

.step-title {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #7981b2;
}

.step.active .step-number,
.step.active .step-title {
  color: #007bff;
}

.imagen-progessbar {
  width: 32px;
  height: 24px;
  margin-left: 12px;
}
